@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    background: linear-gradient(rgba(252, 252, 252, 0.5), rgba(255, 255, 255, 0.5)), url(assets/images/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}